.mapContainer {
  margin-top: 6rem;
  height: 80vh;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 20px rgba(231, 170, 224, 0.3), 
              0 0 40px rgba(181, 172, 229, 0.2), 
              0 0 60px rgba(144, 146, 215, 0.1);
  border: 2px solid #8ea9df;
  background-color: #bbccec;
  transition: box-shadow 0.3s ease;
}

.mapContainer:hover {
  box-shadow: 0 0 25px #00f9ff, 0 0 60px #00f9ff;
}
